<!DOCTYPE html>
<html lang="en">
  <%- include('_head', {title: `${zipCode}: ${name} | DVF viewer` }); %>
  <body>

    <main class="container">
      <%- include('_nav'); %>
      <h1><%= zipCode %>: <%= name %></h1>

      <div class="grid">
        <article>
          <header>Nombre de mutations par ans</header>
          <img src="./count.svg" />
          <details>
            <summary>Données</summary>
            <%- include('_data-table', {years, rows: countData}); %>
            <a href="./count.csv">Télécharger les données (csv)</a>
          </details>
        </article>
        <article>
          <header>Prix median du mètre carré par an</header>
          <img src="./median-price-by-surface.svg" />
          <details>
            <summary>Données</summary>
            <%- include('_data-table', {years, rows: pricePerM2Data}); %>
            <a href="./median-price-by-surface.csv">Télécharger les données (csv)</a>
          </details>
        </article>
      </div>
    </main>
  </body>
</html>
